[workspace]
# https://anaconda.org/conda-forge/mlir/files
# channels = ["conda-forge/label/llvm_rc", "conda-forge"]
channels = ["conda-forge"]
name = "mlir_demos"
platforms = ["linux-aarch64", "osx-arm64", "linux-64"]
version = "0.1.0"

[tasks]

[environments]
default = []
# cuda = ["cuda"]

[system-requirements]
cuda = "12.9"

[dependencies]
# python = "3.13.*"
python = "3.12.*"    # cute needs 3.12
uv = ">=0.8.13,<0.9"
lit = "*"
# mlir = { version = "21.1.0.rc3.*", channel = "conda-forge/label/llvm_rc" }
mlir = ">=21.1.0,<22"

[pypi-dependencies]
iree-base-compiler = ">=3.6.0, <4"
iree-base-runtime = ">=3.6.0, <4"
# use git submodule for a bad network
# xyz = { git = "https://github.com/gglin001/xyz.git" }
# xyz = { path = "./xyz" }
filecheck = ">=1.0.3, <2"

[target.osx-arm64.dependencies]
pytorch = "2.8.0.*"

[target.linux-aarch64.dependencies]
triton = ">=3.4.0,<4"
cusparselt = ">=0.8.0.4,<0.9"

[target.linux-aarch64.pypi-dependencies]
nvidia-cutlass-dsl = ">=4.1.0, <5"
# install with uv for bad network, use `--no-deps` in cuda env
# uv pip install "torch==2.8.0+cu129" "torchaudio==2.8.0" "torchvision==0.23.0" -f https://mirrors.aliyun.com/pytorch-wheels/cu129/ --no-deps
# uv pip install "torch==2.8.0+cu129" "torchaudio==2.8.0" "torchvision==0.23.0" -i https://download.pytorch.org/whl/cu129/ --no-deps
# uv pip install "torch==2.8.0+cu129" "torchaudio==2.8.0" "torchvision==0.23.0" -i https://mirror.sjtu.edu.cn/pytorch-wheels/cu129/ --no-deps
# torch = { version = "==2.8.0+cu129", index = "https://download.pytorch.org/whl/cu129" }

[target.linux-64.dependencies]
# uv pip install "pytorch-triton==3.4.0" -i https://download.pytorch.org/whl/cu129/
# uv pip install "pytorch-triton-rocm==3.4.0" -i https://download.pytorch.org/whl/cu129/
# uv pip install "pytorch-triton-xpu==3.4.0" -i https://download.pytorch.org/whl/cu129/
triton = ">=3.4.0,<4"
cusparselt = ">=0.8.0.4,<0.9"
# pixi add cuda-version=12.9 cuda-toolkit=12.9.1 -p linux-64
cuda-version = "12.9.*"
cuda-toolkit = "12.9.1.*"
# pixi add pytorch-gpu=2.8.0 -p linux-64
pytorch-gpu = "2.8.0.*"

[target.linux-64.pypi-dependencies]
nvidia-cutlass-dsl = ">=4.1.0, <5"
# install with uv for bad network, use `--no-deps` in cuda env
# uv pip install "torch==2.8.0+cu129" "torchaudio==2.8.0+cu129" "torchvision==0.23.0+cu129" -f https://mirrors.aliyun.com/pytorch-wheels/cu129/ --no-deps
# uv pip install "torch==2.8.0+cu129" "torchaudio==2.8.0+cu129" "torchvision==0.23.0+cu129" -i https://download.pytorch.org/whl/cu129/ --no-deps
# uv pip install "torch==2.8.0+cu129" "torchaudio==2.8.0+cu129" "torchvision==0.23.0+cu129" -i https://mirror.sjtu.edu.cn/pytorch-wheels/cu129/ --no-deps
# torch = { version = "==2.8.0+cu129", index = "https://download.pytorch.org/whl/cu129" }

[activation.env]
# needs llvm-project
PATH = "${PWD}/llvm-project/build/bin:${PATH}"
# CMAKE_PREFIX_PATH = "${CONDA_PREFIX}"
# TRITON_HOME = "${PWD}/_demos"
# TRITON_MOCK_PTX_VERSION = "84"
